{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    {# {{ dump(categories) }} #}
    {% if categories is not empty %}
    <ul>
        {% for categorie in categories %}
            <li><a href="{{ path('singleCategorie', {id: categorie.id}) }}"> {{ categorie.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
