{% extends 'base.html.twig' %}

{% block title %}List d'articles{% endblock %}

{% block body %}

    <ul>
        {% if articles is not empty %}
            {% for article in articles %}
                <li> <a href="{{ path('singleArticle', {id: article.id})}}">{{article.titre}}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
