{% extends 'base.html.twig' %}

{% block title %}List d'articles{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{type}} my-2" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endfor %}

    <ul>
        {% if articles is not empty %}
            {% for article in articles %}
                <li><a href="{{ path('singleArticle', {id: article.id})}}">{{article.titre}}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
